<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Verslun</h1>
    <h1><a href="/">Home</a></h1>
    <h3><a href="/karfa">Karfa</a></h3>
    {% for x in vorur %}
        <h2>{{ x[1] }}</h2>
        <img src="{{url_for('static', filename=x[3])}}" />
        <h2><a href="/add/{{ x[0] }}">{{ x[2] }} Kr.</a></h2>
        <br>
    {% endfor %}
</body> 
</html>